
header .event-info-bg-left {
  position: absolute;
  top: 200px;
  left: -475px;
  width: 50%;
  height: 200px;
  background-image: url('../img/header-bg-ie.png');
}

header .event-info-bg-right {
  position: absolute;
  top: 200px;
  right: -475px;
  width: 50%;
  height: 200px;
  background-image: url('../img/header-bg-ie.png');
}

header .event-info .event-info-nav-button{
	width: 193px;
	height: 99px;
	float: left;
	background-image: url('../img/header-button-bg-ie.png');
	color: #fff;
	text-align: center;
}

header .event-info .event-info-nav-button:hover{
	background-image: url('../img/header-button-hover-bg-ie.png');
}

header .event-info .event-info-date {
  height: 200px;
  width: 556px;
  background-image: url('../img/header-bg-ie.png');
  float: right;
  text-align: right;
  padding: 35px 30px 0 0;
}